body {
  padding-top: 200px;
  background-color: #333333;
  font-family: 'Prata', serif;
  color:#B3B3B3;
}

/* Give Shadow to Header H1 */

header h1, h2 {
    text-shadow: 2px 2px 10px;
}

/* ////// NAVIGATION BAR /////// */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color:#4C4C4C;
}

/* /////// ABOUT ME WITH BORDERS /////// */

#about {
  border: 1px solid;
  clear: both;
}

/* /////// CAT TABLE WITH BORDERS ////// */

table, th, td {
   border: 1px solid;
}

/* Give table padding */

th, td {
    padding: 15px;
    text-align: left;
}

/* Make Cat table headers black */

#cat-table th {

}

/* ///////// COMMENT FORM WITH BORDERS ///////// */

#comment-form form {
  border: 1px solid;
}

/* Give form padding */

#comment-form form {
  padding: 10px;
}

#comment-form p, input, textarea {
    padding: 1px;
    text-align: left;
}

/* //////// MEDIA ///////// */

img, video, audio {
  max-width: 100%;
}


/* //////// LAYOUT ///////// */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: right;
  width: 32%;
}

.col-2 {
  float: left;
  width: 64%;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/* //////// SECTIONS ///////// */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

/* //////// SOCIAL ///////// */

#social {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 40px;
  z-index: 2;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: no-wrap;
  overflow: hidden;
}

a.fbook, a.twit, a.gplus, a.tblr {
  background: url(../images/social-icons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: -40px 0; }
a.fbook:active { background-position: -80px 0; }

a.twit { background-position: 0 -40px; }
a.twit:hover { background-position: -40px -40px; }
a.twit:active { background-position: -80px -40px; }

a.gplus { background-position: 0 -80px; }
a.gplus:hover { background-position: -40px -80px; }
a.gplus:active { background-position: -80px -80px; }

a.tblr { background-position: 0 -120px; }
a.tblr:hover { background-position: -40px -120px; }
a.tblr:active { background-position: -80px -120px; }
